@import "site-settings";
@import "mixins";

html, body {
  background: $background_colour;
  color: $text_colour;
  height: 100%;
}

::selection {
  @include selection;
}
::-moz-selection {
  @include selection;
}

body {
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial;
}

/* !-- links --! */
a,
a:link,
a:visited {
  color: $dark_blue;
  font-weight: bold;
  text-decoration:none;
  &:hover {
    color:$hot_pink;
  }
}

p {
  padding: 10px 0;
}

em {
  font-weight: bold;
}

