/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}
/* RESET */

/* html5 styling */
header, nav, section, aside, footer, article {
  clear: both;
  display: block;
  width: 100%;
}
/* html5 styling */

html, body {
  height: 100%;
}

body {
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}

p {
  padding: 10px 0;
}

#wrap {
  min-height: 100%;
}

header#site_header {
  background-color: #666666;
  border-bottom: 3px solid #33CCCC;
  height: 60px;
  padding: 20px 0;
}

header#site_header a {
  text-decoration: none;
}

header#site_header h1 {
  color: white;
  font-size: 36px;
  padding-left: 125px;
}

footer#site_footer {
  background-color: #666666;
  border-top: 3px solid #33CCCC;
  clear: both;
  height: 100px;
  margin-top: -103px;
  position: relative;
  text-align: center;
}

footer#site_footer p {
  color: white;
  padding-top: 8px;
}

div#main_site_content {
  overflow: auto;
  padding-bottom: 100px;
  /*height: 80%;*/
  max-width: 960px;
  margin: 0 auto;
}

.primary_content {
  float: left;
  max-width: 960px;
  padding: 20px 0;
  width: 60%;
}

/* Article */
article {
  padding: 10px 0 5px 0;
  text-align: left;
}

article a {
  text-decoration: none;
}

article h1 {
  font-size: 1.5em;
}

article h2 {
  font-size: 1.2em;
}

footer.article_footer {
  font: bold;
  padding-bottom: 20px;
  text-align: right
}

footer.article_footer h2 {
  font-size: 1.5em;
}

header.article_header {
  border-bottom: 3px solid #33CCCC;
  height: 3em;
}

header.article_header a {
  color: black;
  text-decoration: none;
}

header.article_header h1 {
  float: left;
  font: bold;
  font-size: 2em;
}

header.article_header span {
  float: right;
  padding-top: 10px;
}
/* Article */
