@import "site-settings";

/* html5 styling */
header, nav, section, aside, footer, article {
  clear: both;
  display: block;
  width: 100%;
}

/* Always force a scrollbar in non-IE */
html {
  overflow-y: scroll;
}

#wrap {
  min-height: 100%;
  width: 100%;
}

#header {
  background-color: $dark_blue;
  border-top: $main_border_height solid $light_green;
  height: 60px;
}

#main_content {
  margin: 0 auto;
  max-width: 960px;
  overflow: auto;
}

#primary_content {
  float: left;
  padding: 3%;
  width: 57%;
}

#article {
  padding: 10px 0 20px 0;
  text-align: left;
}

