@import "site-settings";

#site_header {
  background-color: $dark_blue;
  border-top: $main_border_height solid $light_green;
  height: 60px;
  // padding: 20px 0;
}

#main_site_content {
  margin: 0 auto;
  max-width: 960px;
  overflow: auto;
}

#primary_content {
  float: left;
  padding: 3%;
  width: 57%;

  article {
    padding: 10px 0 20px 0;
    text-align: left;
  }
}

