<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" charset="utf-8">
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap {display:table;height:100%}
      </style>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
      <header id="site_header">
        <a href=""><h1>markscholtz.com</h1></a>
      </header>
      <div id="main_site_content">
        <div class="primary_content">
          {% for post in site.posts %}
            <header class="article_header">
            <a href=""><h1>{{ post.title }}</h1></a>
              <span id="post_date">{{ post.date | date : "%A %d %B %Y" }}</span>
            </header>
            <article>
              {{ post.content }}
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <footer id="site_footer">
    </footer>
  </body>
</html>
