<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>markscholtz.com</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" charset="utf-8">
    <!-- All JavaScript at the bottom, except for html5shiv which enables HTML5 elements & feature detects -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap {display:table;height:100%}
      </style>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
      <header id="site_header">
        <h1>
          <a href="http://markscholtz.com">
            mark<span id="scholtz_span">scholtz</span>.<span>com</span>
          </a>
        </h1>
      </header>
      <div id="main_site_content">
        <div class="primary_content">
          {{ content }}
        </div>
        <div class="secondary_content">
          <div class="colophon">
            <h2>
              Hi, I'm Mark
            </h2>
            <p>
              I'm a developer from Cape Town and this is my blog, a little
              corner of the internet all of my own. It's not very cosy yet, but
              it's getting there.
            </p>
            <p>
              I'm a latecomer to the wonders of Rails, a student of Ruby, an
              agile proponent, a lover of all things web, an Apple enthusiast
              and, occasionally, a runner.
            </p>
          </div>
          <div class="rss">
            <h2>
              Subscribe
            </h2>
            <p>
              <a id="rss_button" class="button" href="http://feeds.feedburner.com/markscholtz">
                rss
              </a>
            </p>
          </div>
          <div class="social">
            <h2>
              Connect
            </h2>
            <ul>
              <li>
                <a id="email_button" class="button" href="mailto:message@markscholtz.com">
                  email
                </a>
              </li>
              <li>
                <a id="twitter_button" class="button" href="https://twitter.com/#!/markscholtz">
                  twitter
                </a>
              </li>
              <li>
                <a id="facebook_button" class="button" href="https://www.facebook.com/markscholtz">
                  facebook
                </a>
              </li>
              <li>
                <a id="google_plus_button" class="button" href="https://plus.google.com/104848639023894611373/posts">
                  google+
                </a>
              </li>
              <li>
                <a id="linkedin_button" class="button" href="http://za.linkedin.com/in/markscholtz">
                  linkedin
                </a>
              </li>
              <li>
                <a id="github_button" class="button" href="https://github.com/markscholtz">
                  github
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer id="site_footer">
    </footer>
  </body>
  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
  <!--<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.1.min.js"%3E%3C/script%3E'))</script>-->


  <!-- Add Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20783307-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
